*{
  margin:0;
  padding:0;
  font-size:14px;
  list-style: none;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
img{
  display: block;
}
.left{
  float: left;
}
.right{
  float:right;
}
[data-page = "index"]{
  width:80%;
  margin:100px auto 0;
}
[data-page = "index"] .sec{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
[data-page = "index"] p{
  text-align:center;
}
[data-page = "index"] p button{
  background-color: #fff;
  border-color: #ccc;
  color: #333
}
[data-page = "index"] p button.btn-success{
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}